.page {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 24px 40px;

  &__heading {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
  }

  &__add {
    color: #fff;
  }

  &__title {
    margin-bottom: 0;
  }
}
