
.item {
  &__statusPoint {
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: hsl(200, 21%, 22%);

    &--available {
      background-color: var(--color-light-green);
    }
  }

  &__title {
    text-decoration: underline;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: hsla(0, 0, 10, 0.3);

  &__body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
  }

  &__item {
    width: 100%;
    overflow: hidden;
  }
}
