:root {
  --header-height: 64px;
  --sidebar-width: 248px;

  --color-foreground: hsl(0, 0%, 10%);
  --color-foreground-secondary: hsl(210, 100%, 5%);
  --color-foreground-muted: hsl(0, 0%, 50%);

  --color-scrollbar: hsla(0, 0%, 30%, 0.2);

  --color-primary: hsl(88,47%,51%);
  --color-dark-green: hsl(90,55%,36%);
  --color-light-green: hsl(66,70%,54%);
}
