.content {
  display: flex;
  height: calc(100% - var(--header-height));
  width: 100vw;
  overflow: hidden;
}

.main {
  background-color: hsl(204,20%,95%);
  width: calc(100vw - var(--sidebar-width));
}
