.dateTime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    display: flex;
    gap: 24px;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
